* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
 text-align: center;
}
h1{
    color: rgb(0, 139, 130);
    padding: 30px;
}
label.l1
{
color: rgb(3, 75, 118);
font-family: 'Times New Roman', Times, serif;
font-size :25px;
padding: 4%;
}
label.l2
{
    color: rgb(3, 75, 118);
    font-family: 'Times New Roman', Times, serif;
    font-size :25px;
    padding: 3%;
}
.b1
{
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;
    color: rgb(10, 0, 0);
    
}
